@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #__next {
    @apply h-full;
  }

  body {
    @apply bg-white;
  }

  body.email {
    background-image: radial-gradient(
      900px 800px at 50% -375px,
      rgba(194, 140, 228, 0.7),
      rgba(194, 140, 228, 0)
    );
  }

  body.website {
    background-image: radial-gradient(
      900px 800px at 50% -375px,
      rgba(52, 211, 153, 0.7),
      rgba(52, 211, 153, 0)
    );
  }
}

@layer components {
  .google {
    box-shadow: 0px 0px 2.41919px rgba(0, 0, 0, 0.084),
      0px 2.41919px 2.41919px rgba(0, 0, 0, 0.168);
    border-radius: 4.83838px;
  }

  .google:hover {
    box-shadow: 0px 0px 14.5152px rgba(66, 133, 244, 0.7);
    border-radius: 4.83838px;
  }
}
